.project {
  position: relative;
  width: 100%;
  max-width: 42rem;

  /* border-radius: 8px; */
  overflow: hidden;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  aspect-ratio: 16 / 10;

  cursor: pointer;
}

.project img {
  width: 100%;
  height: auto;
}

.overlay {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.4rem;

  opacity: 100;

  position: absolute;

  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
  background: rgb(55, 55, 55);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0.01) 100%
  );

  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;

  color: #f8f9fa;
}

.repo {
  z-index: 10;

  margin-bottom: auto;
  padding: 0.6rem 1rem;

  background-color: #343a40;
  color: #f8f9fa;

  align-self: flex-end;

  display: flex;
  align-items: center;
  gap: 0.4rem;

  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;

  border-radius: 100rem;

  transition: 300ms;
}

.repo:hover {
  background-color: #495057;
}

.repo i {
  display: flex;
  align-items: center;
}

.name {
  font-size: clamp(1.6rem, 2vw, 2rem);
  font-weight: 700;
  color: #f8f9fa;
}

.description {
  font-size: clamp(1.4rem, 2vw, 1.8rem);
  font-weight: 400;
  color: #ced4da;
}

.tags {
  margin-top: clamp(1rem, 2vw, 1.6rem);
  display: flex;
  gap: clamp(1.2rem, 2vw, 1.4rem);

  font-weight: 700;

  letter-spacing: 0.4px;

  text-transform: uppercase;
}

.tags .tag {
  padding: 0.3rem clamp(0.8rem, 2vw, 1rem);

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100px;

  background-color: rgba(223, 227, 231, 0.39);

  font-size: clamp(0.8rem, 2vw, 1.2rem);
}

@media (min-width: 992px) {
  .overlay {
    opacity: 0;
  }

  .project:hover .overlay {
    opacity: 100;
  }
}

/* #css {
  background-color: #6741d946;
} */
